footer {
    font-size: 10px;
    padding-top: 20px;
  }
.requester-data {
    color: #363;
    padding-left: 6px;
}
#content td {
    font-size: 12px;
    padding-top: 2px;
  }

#translate-button {
    height: fit-content;
    width: fit-content;
    font-size: 12px;
}